In [2]:
import pandas as pd
import numpy as np

## Import HDF train and test data

In [3]:
df = pd.read_hdf("/Users/aj/docs/useful/sem3/MLDM project/data & codes/train.hdf5")

In [4]:
df_test = pd.read_hdf("/Users/aj/docs/useful/sem3/MLDM project/data & codes/validation.hdf5")

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,61430,61431,61432,61433,61434,61435,61436,61437,61438,61439
0,0.041259,0.041259,0.032573,0.023887,0.029315,0.041259,0.045602,0.038001,0.030401,0.032573,...,0.034744,-0.007600,-0.003257,0.065145,0.047773,-0.009772,0.031487,0.096632,0.077089,0.040173
1,-0.211722,-0.264924,-0.274696,-0.236694,-0.156349,-0.059716,0.005429,0.046687,0.153091,0.281210,...,0.260581,-0.004343,-0.241037,-0.636252,-0.953292,-0.980436,-0.846888,-0.838202,-0.880546,-0.739398
2,0.214105,0.154930,0.136640,0.013987,-0.038733,-0.015063,-0.111894,-0.104363,0.047340,-0.054871,...,0.040884,0.375490,0.699337,0.965085,1.086662,1.132926,1.279249,1.296464,0.937112,0.451879
3,-0.154837,-0.127768,-0.217638,-0.284770,-0.299929,-0.270694,-0.077960,0.092036,0.076877,0.154837,...,-0.286936,-0.171079,-0.036814,-0.024904,0.031400,0.140761,-0.011911,-0.173244,-0.063884,0.081208
4,-1.022780,-0.916376,-0.676425,-0.461445,-0.330069,-0.122690,0.178064,0.489675,0.799115,0.931577,...,1.009751,1.134613,0.836030,0.479903,0.109661,-0.285553,-0.628651,-0.916376,-1.010837,-0.804544

In [6]:
## 1024 hz for 60 minute our original data , 1024*60 = 61440
## now lets try to make window over 24 hz

In [7]:
61440/24

2560.0

In [8]:
len(df)

1677

In [9]:
col_names = [i for i in range(2560)]

In [10]:
#new_df = pd.DataFrame([np.nan]*1677, columns=[i for i in range(2560)])
new_df = pd.DataFrame(np.nan,index=[i for i in range(1677)], columns=col_names)

In [11]:
counter = 0

addition_number = 24
new_total_column_number = 2560
for row in range(len(df)):
    
    start_point = 0
    finish_point = 24
    
    for sub_col in range(new_total_column_number):
        
        assigned_value = np.average(df.iloc[row][start_point:finish_point].values)
        new_df.iloc[row][sub_col] = assigned_value
        start_point = start_point + addition_number
        finish_point = finish_point + addition_number
        
    counter = counter + 1
    if counter%100 == 0:
        print("100 row finished")

100 row finished
100 row finished
100 row finished
100 row finished
100 row finished
100 row finished
100 row finished
100 row finished
100 row finished
100 row finished
100 row finished
100 row finished
100 row finished
100 row finished
100 row finished
100 row finished

In [12]:
new_df.tail()

,0,1,2,3,4,5,6,7,8,9,...,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559
1672,0.031738,0.106392,-0.040916,-0.016151,0.164024,-0.143617,-0.133567,0.002000,0.123877,0.086037,...,-0.027534,-0.068296,0.099419,-0.133208,0.005025,0.134542,-0.085268,0.006050,0.141156,-0.068860
1673,0.079431,0.068105,-0.185238,-0.090958,-0.031108,-0.066595,-0.168526,-0.311633,-0.110690,0.014698,...,-0.019732,-0.013037,-0.008759,0.010067,0.044900,-0.000856,-0.016410,-0.007299,0.004631,0.022299
1674,0.053387,-0.072182,-0.032002,0.172354,0.074417,-0.117544,-0.255660,-0.045666,0.146549,0.082291,...,-0.013410,0.001575,-0.005943,0.029564,0.017474,-0.032967,-0.037640,-0.088539,-0.037742,0.036421
1675,0.034681,-0.018792,-0.013954,0.015940,-0.075321,-0.020727,-0.050367,-0.041251,-0.004482,-0.106997,...,-0.020880,-0.024954,-0.023579,-0.011102,-0.013241,-0.020829,-0.018283,-0.020982,-0.038755,-0.010440
1676,0.062829,0.063806,0.063138,0.065400,0.062007,0.063498,0.063755,0.060824,0.065246,0.063035,...,0.083190,0.083241,0.083550,0.083807,0.082470,0.081750,0.083858,0.084732,0.083807,0.084424

In [13]:
new_df.to_hdf('data_24hz_train.h5', key='df', mode='w')

In [14]:
#new_df = pd.DataFrame([np.nan]*1677, columns=[i for i in range(2560)])
new_df_test = pd.DataFrame(np.nan,index=[i for i in range(594)], columns=col_names)

In [15]:
counter = 0

addition_number = 24
new_total_column_number = 2560
for row in range(len(df_test)):
    
    start_point = 0
    finish_point = 24
    
    for sub_col in range(new_total_column_number):
        
        assigned_value = np.average(df_test.iloc[row][start_point:finish_point].values)
        new_df_test.iloc[row][sub_col] = assigned_value
        start_point = start_point + addition_number
        finish_point = finish_point + addition_number
        
    counter = counter + 1
    if counter%100 == 0:
        print("100 row finished")

100 row finished
100 row finished
100 row finished
100 row finished
100 row finished

In [17]:
new_df_test.to_hdf('data_24hz_test.h5', key='df', mode='w')

## One Class Svm

In [16]:
from sklearn.svm import OneClassSVM

In [17]:
clf = OneClassSVM(gamma='auto',nu=0.125)

In [18]:
clf.fit(new_df)

OneClassSVM(cache_size=200, coef0=0.0, degree=3, gamma='auto', kernel='rbf',
            max_iter=-1, nu=0.125, random_state=None, shrinking=True, tol=0.001,
            verbose=False)

In [19]:
result_list = clf.predict(new_df_test).tolist()

In [20]:
new_result_list = []
for i in result_list:
    if i == -1:
        new_result_list.append(1)
    if i == 1:
        new_result_list.append(0)

In [21]:
sample_number_list = [i for i in range(594)]   #sample number list
header = ['seqID', 'anomaly'] 
import csv

with open('./will_upload_1.csv', 'w', newline='') as f:
    w = csv.writer(f, delimiter=';')
    w.writerow(header)
    for row in zip(sample_number_list, new_result_list):
        w.writerow(row)

## Importing Labels for Cross Check

In [22]:
#Open your submission file
myfile = pd.read_csv("./will_upload_1.csv", sep=";", index_col=0)

In [24]:
#Open the labels file
labels = pd.read_csv("Re__Re_/labels.csv", sep=",", index_col=0)

In [25]:
true_positive = 0
true_negative = 0
false_positive = 0
false_negative = 0
for i in range(594):
    if labels.iloc[i][0] == myfile.iloc[i][0]:
        if labels.iloc[i][0] == 1:
            true_positive += 1
        else:
            true_negative += 1
    else:
        if labels.iloc[i][0] == 1:
            false_negative += 1
        else:
            false_positive += 1
print("Results: TP={0}, FP={1}, FN={2}, TN={3}".format(true_positive, false_positive, false_negative, true_negative))

Results: TP=262, FP=0, FN=35, TN=297

## Calculating F1 Score

In [26]:
#Precision, Recall and F1 score
precision = round(true_positive/(true_positive + false_positive),5)
recall =  round(true_positive/(true_positive + false_negative),5)
F1 =  round(((recall*precision)/(recall + precision))*2,5)
print("Results: F1={0}, Precision={1}, Recall={2}".format(F1, precision, recall))

Results: F1=0.93739, Precision=1.0, Recall=0.88215